<input
  type="text"
  class="form-control"
  (input)="onUpdateServerNamer($event)"
/>

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
/>
<button class="btn btn-primary" [disabled]="!allowthisButton
"(click)="CreationServerMethod()" >Click</button>
<!--<p>{{serverName}}</p>-->
<p *ngIf="creationstatus else noserver">Server is Creation, and Name:{{serverName}}</p>
<ng-template #noserver><p>
  No Server is Creation
</p></ng-template>
<app-server></app-server>
<app-server></app-server>
